<h1>Created Logs</h1>
<ul> <!--Put each log into a list with for loop and Call on the variables defined when creating the plan  -->
<!-- Plan._id is added automatically by mongodb which searches for id -->
    <% plans.forEach(function(plan) { %> 
    <li> 
        <h2><%= plan.workout %> </h2>
        <h2><%= plan.duration %> Minutes</h2>
        <h2><%= plan.dayOfCompletion %></h2>
        <a href="/plans/update/<%=plan._id%>">Edit plan </a> 
        <form action="/plans/delete/<%= plan._id %>" method="POST">
        <button type="submit">Delete plan </button>
    </li>
    <%}); %> 


<a href="/plans">Back to home</a>